@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .content {
        @apply grow pl-24 flex flex-col h-screen overflow-y-auto font-mono bg-stone-800 text-orange-100;
    }
    .content-text {
        @apply flex flex-shrink items-center justify-center rounded-3xl text-2xl h-32 w-48 my-auto mx-auto bg-stone-700 shadow-lg;
    }

    .sidebar {
        @apply fixed top-0 left-0 h-full w-24 m-0 
        flex flex-col
        bg-stone-700 text-white shadow-lg;
    }
    
    .sidebar-icon {
        @apply relative flex items-center justify-center 
        h-16 w-16 mt-4 mb-0 mx-auto shadow-lg
        bg-stone-600 text-orange-400
        hover:bg-orange-400 hover:text-stone-600;
    }

    .imgLoading{
        @apply blur-md;
        clip-path: inset(0);
    }
    .imgLoaded{
        clip-path: filter 0.5s linear;
    }

    .image {
        
    }
}